/*CORPO*/
body {
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
    background-color: whitesmoke;
}

h1, h2, h3 {
    font-family: Asap, sans-serif;
    color: #000;
}

/*NAVEGAÇÃO*/
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #191970;
}

nav > a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32px;
    font-family: Yellowtaill, sans-serif;
    margin: 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}

/*CABEÇALHO*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/Leopard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

header h1 {
    color: #FFFFFF;
}

header p {
    margin-bottom: 2em;
}


/* Seções */
    /* Sobre */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #212174;
    color: #FFFFFF;
}

#about h2 {
    color: #FFFFFF;
}

#about p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

    /* Serviços */
#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;  
}
 /**/
#services div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#services div div {
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    margin-top: 30px;
}

#services p {
    margin: 48px 16px;
}

.images {
    height: 50%;
    width: 50%;
    max-width: 1000px;
    border-radius: 10px;
    
}

    /* Contatos */
#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacts div {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

#contacts div img {
    margin-right: 10px;
}
